@for $i from 1 through $columns {
    .col-#{$i} {
        flex: 0 0 100%/$columns * $i;
    }

    .col-sm-#{$i} {
        @media screen and (min-width: 480px){
            flex: 0 0 100%/$columns * $i;
        }
    }
    .col-offset-#{$i} {
        margin-left: 100%/$columns * $i;
    }
}