$background-grey: $transparent-grey;
$background-transition-effect: background-color 2200ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
$shadow-effect: 0px 6px 8px -2px rgba(32,32,32,0.25);
.navigation {
    box-shadow: $shadow-effect;
    height: 50px;
    position: fixed;
    width: 100%;
    transition: $background-transition-effect;
}
.nav-container {
    @extend .row;
    height: 100%;
    
    a {
        color: #FFF;
        display: block;
        padding: 1.6rem 0;
        text-decoration: none;
        text-align: center;

       i {
            color: #FFF;
        }
    }

    .nav-label {
        margin-left: 0.3rem;
        font-size: 1.4rem;
    }

    li.active {
        background: $background-grey;
        position: relative;
    }

    li.active::before {
        border-bottom: 2px solid #FFF;
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        width: 100%;
        transform: scale(0, 0);
        -webkit-animation: grow 0.6s cubic-bezier(0, 0.51, 0.17, 1) forwards;
        animation: grow 0.6s cubic-bezier(0, 0.51, 0.17, 1) forwards;
    }
}

@-webkit-keyframes grow {
    50% { transform: scale(0, 0); }
    100% { transform: scale(1,1); }
}

@keyframes grow {
    50% { transform: scale(0, 0); }
    100% { transform: scale(1,1); }
}

.navigation.black-bg {
    background-color: #000;

    .menu-dropdown {
        background-color: #000;
    }
}

.menu-dropdown {
    background-color: $transluscent-grey;
    box-shadow: $shadow-effect;
    
    transition: $background-transition-effect;
    .menu-item {
        border-bottom: 1px solid #FFF;

        &:first-child {
            border-top: 1px solid #FFF;
        }
        
        a{
            text-shadow: 0px -1px 6px rgba(0, 18, 0, 1);
        }
        
    }
}

// .threeD-nav {
//     position: fixed;
//     top: 0;
//     left: 100px;
//     transform: rotate(-35deg) skew(20deg,5deg);
// }

// .list-item {
//     background: #000;
//     color: #ffffcc;
//     text-align: center;
//     height: 2.5em;
//     width: 4em;
//     line-height: 2.5em;
//     border-bottom: 1px solid #060606;
//     position: relative;
//     display: block;
//     text-decoration: none;
//     box-shadow: -2em 1.5em 0 rgba(225, 225, 225, 0.4);
//     transition: transform 0.25s cubic-bezier(0, 0.51, 0.17, 1);
  
//     &:hover {
//       background: #ff6e42;
//       color: #fffcfb;
//       transform: translate(0.9em, -0.9em);
//       transition: transform 0.25s cubic-bezier(0, 0.51, 0.17, 1);
//       box-shadow: -2em 2em 0 rgba(225, 225, 225, 0.4);
  
//       &:before,
//       &:after {
//         transition: transform 0.25s cubic-bezier(0, 0.51, 0.17, 1);
//       }
  
//       &:before {
//         background: #b65234;
//         width: 1em;
//         top: 0.5em;
//         left: -1em;
//       }
  
//       &:after {
//         background: #b65234;
//         width: 1em;
//         bottom: -2.5em;
//         left: 1em;
//         height: 4em;
//       }
//     }
  
//     &:before,
//     &:after {
//       content: "";
//       position: absolute;
//       transition: transform 0.25s cubic-bezier(0, 0.51, 0.17, 1);
//       width: 0.5em;
//     }
  
//     &:after {
//       height: 4em;
//       background: #181818;
//       bottom: -2.25em;
//       left: 1.5em;
//       transform: rotate(90deg) skew(0, 45deg);
//     }
  
//     &:before {
//       height: 2.5em;
//       background: #121212;
//       top: 0.25em;
//       left: -0.5em;
//       transform: skewY(-45deg);
//     }
//   }