$footer-item-background: $transparent-grey;
footer {
    @extend .row;
    background: #000;
    color: #FFF;
    // min-height: 40px;
    padding: 2rem 0;

    a {
        color: inherit;
        display: block;
        text-decoration: none;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    p {
        margin: 0;
    }
}

.footer-list {
    
    &:nth-child(2) {
        padding-left: 0.5rem;
    }

    &:last-child {
        border-right: none;
        padding-left: 0.5rem;
    }

    .title {
        @media screen and (max-width: 480px) {
            margin: 0.8rem 0;
        }
        
    }

    @media screen and (min-width: 480px) {
        border-right: 1px dotted #FFF;
    }
}

.footer-item {
    background-color: $footer-item-background;
    border-radius: 2px;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
    padding: 0.6rem;
}